button, a{
    &:hover{
        text-decoration: none;
    }
}

.show-case{
    text-align: center;
    width: 100vw;
    background-color: #eee;
    height: 30vh;
    padding: 20px 0n;
    display: flex;
    align-items: center;
    .title{
        text-transform: capitalize;
        margin-bottom: 5px;
    }
    
}

.loop-version-box{
    padding: 20px 0;
}

.note{
    margin-top: 20px;
    padding: 5px;
    border-radius: 4px;
    .lead{
        text-align: center;
    }
}

