body {
  position: relative; }
  body a.navbar-brand {
    color: gold; }
  body .btn {
    color: #333;
    margin-bottom: 20px;
    text-align: center; }
    body .btn i {
      margin-right: 5px; }
  body nav {
    z-index: 9; }
  body .starter-text {
    text-align: center;
    z-index: 9;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body .starter-text h1,
    body .starter-text p {
      color: aliceblue; }
  body #showcase {
    margin: 0;
    padding: 0;
    background-image: url(../img/bg1.jpg);
    height: 100vh;
    background-size: cover;
    position: relative; }
    body #showcase:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      z-index: 1; }
  body main {
    display: flex;
    flex-direction: row;
    justify-content: middle;
    align-content: center; }
  body .props {
    padding: 30px 0 50px 0;
    text-align: center; }
    body .props div.lead {
      margin-top: 30px; }
    body .props hr {
      margin: 10px auto; }
    body .props .images {
      padding: 10px 0; }
      body .props .images .row img {
        margin: auto;
        width: 5rem;
        display: block;
        margin: 10px auto; }
    body .props .alert p {
      margin: 0; }
    body .props .mdc-typography--headline4 {
      color: #202124; }
  body .dld-sec {
    padding: 50px 10px;
    height: auto;
    background: #eee;
    text-align: center; }
    body .dld-sec h4 {
      margin-bottom: 15px; }
    body .dld-sec div.lead {
      padding: 15px 0; }
    body .dld-sec .download-links a {
      display: block;
      margin: auto;
      text-align: center; }
    body .dld-sec p {
      margin-top: 10px; }
    body .dld-sec .mdc-typography--headline4 {
      color: #202124; }
  body .tutorials {
    background-image: url(../img/bg2.jpg);
    width: 100%;
    color: #fff;
    background-size: cover;
    text-align: center; }
    body .tutorials .overlay {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      z-index: 1;
      position: relative; }
    body .tutorials .tut {
      padding: 40px 10px; }
      body .tutorials .tut a {
        color: #DFC97A; }
        body .tutorials .tut a:hover {
          color: #c4a32f;
          transition: 0.2s ease-out;
          text-decoration: none; }
      body .tutorials .tut div.lead {
        margin-bottom: 0; }
        body .tutorials .tut div.lead hr {
          width: 150px;
          margin: 5px auto;
          height: 5px; }
      body .tutorials .tut h5.lead {
        color: rgba(255, 255, 255, 0.8); }
      body .tutorials .tut .row {
        margin-bottom: 20px; }
        body .tutorials .tut .row i {
          font-size: 5rem;
          margin: 10px auto;
          width: 100%;
          color: #DFC97A; }
        body .tutorials .tut .row .colm {
          padding-bottom: 15px; }
        body .tutorials .tut .row .mg {
          padding: 10px;
          margin: 10px;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.4); }
    body .tutorials img {
      margin: auto;
      width: 5rem;
      display: block;
      margin: 10px auto; }
  body footer {
    padding: 50px 20px 5px;
    margin: 0;
    text-align: center;
    background: linear-gradient(45deg, #abbaab, #fff); }
    body footer p {
      margin-bottom: 5px; }
      body footer p i {
        color: red; }
    body footer a.btn-link:hover {
      text-decoration: none;
      transition: all ease-out; }
  body .active {
    border-bottom: 2px solid gold;
    transition: all 0.3s ease-out; }
